<!-- home section -->
<section class="home">
  <div class="home-text">
      <span>Software Developer</span>
      <h1>Celvin Kuhn</h1>
      <p>I'm a designer, illustrator, and creator of courses, templates, wireframe kits, and the occasionally useful side-project.</p>
      <div class="main-btn">
          <a href="https://forms.gle/dHgdgtf9WFZzDFsn7" class="btn">Get in contact</a>
          <a href="#" class="btn hire">Hire me now</a>
      </div>
  </div>
  <div class="home-img">
    <img src="/assets/img/test.jpg" alt="image">
  </div>
</section>

<div class="share">
  <p>Check out my:</p>
  <div class="social">
      <a href="https://www.instagram.com/celvinkn/"><i class='bx bxl-instagram'></i></a>
      <a href="https://twitter.com/ceeelvin"><i class='bx bxl-twitter' ></i></a>
      <a id="copyDcId"><i class='bx bxl-discord-alt'></i></a>
  </div>
  <div class="box-copied" id="copied">
      Copied
      <i class="bx bx-check"></i>
  </div>
</div>
